body, html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: url('./1.jpg');
    background-size: 100%;
    overflow: hidden;
}
.app {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.container{
    -webkit-column-count:5;
    -webkit-column-gap:30px;
    text-align: center;
}
.messboard{
    width: 300px;
    margin: 20px auto;
    display:inline-block;
    box-shadow: 2px 4px 6px #333;
}
